.interval-container{
    padding: 0 20px 0 20px;
}

.inter-display{
  font-family: "VT323", monospace;
  box-sizing: content-box;
  background: var(--retro-display);
  width: 4ch;
  padding: 4px 8px;
  font-size: 22px;
  align-items: flex-start;
}

.display-margin{
  margin-inline: 15px;
}

.btn-container,
.inter-display,
.ctrl-section-container{
  flex-direction: column;
}

.display-elem,
.inter-button,
.ctrl-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 22px;
	margin-block: 4px;
}

.ctrl-btn {
	width: 25px;
	height: 100%;
  border-radius: 4px;
  background: var(--retro-main);
}
.ctrl-btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ctrl-btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.inter-button {
	-webkit-appearance: none;
	border: 2px solid var(--retro-border);
	background: var(--retro-main);
	font-size: 1em;
	font-weight: 600 !important;
	padding: 4px;
	width: 6ch;
	border-radius: 3px;
	color: var(--retro-display);
	box-shadow: 1px 1px var(--retro-shadow-0);
}

.active {
	color: var(--diode-active);
	text-shadow: 0 0 4px var(--diode-active-shadow);
	box-shadow: none;
	transform: scale(0.99);
}