.main-display-container {
	background: var(--retro-main);
	width: 100%;
	padding: 2em 0px;
}

.main-display {
	font-family: 'VT323', monospace;
	width: 49em;
	height: 10em;
	background: var(--retro-display);
	padding: 0.625em;
	font-size: inherit;
}

.main-display-header {
	font-size: 3em;
	margin-block: 0;
}
.main-display-message {
	font-size: 1.5em;
}
