@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
	--main-border-radius: 3.125em;
	--main-border-width: 1.875em;
	--main-font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	font-size: var(--main-font-size);
	color: rgb(150, 150, 150);
	background-color: rgba(33, 33, 33, 1);
	font-family: 'Roboto', sans-serif;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.625em;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: var(--main-border-radius);
	overflow: hidden;
	border: 0.0625em solid var(--retro-border);
	background: var(--retro-main);
}

.outer-border {
	padding: calc(var(--main-border-width) / 2);
	border-radius: calc(var(--main-border-radius) + var(--main-border-width));
	background: var(--retro-main);
	border: 0.125em outset var(--retro-border);
}

.inner-border {
	padding: calc(var(--main-border-width) / 2);
	border-radius: calc(var(--main-border-radius) + var(--main-border-width) / 2);
	background: linear-gradient(
		-45deg,
		var(--retro-shadow-2) 0%,
		var(--retro-shadow-0) 100%
	);
	border: 0.125em solid var(--retro-border);
}

.top-section {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.drum-pads {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-wrap: wrap;
	background: var(--retro-shadow-0);
	padding: 0.125em;
	border: 0.125em solid var(--retro-border-1);
	border-radius: 0.625em;
}

.section-container:first-child {
	align-self: flex-end;
}

.section-container {
	background-color: var(--retro-main);
	padding: 0.625em;
	height: 100%;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(66, 66, 66);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.space-between {
	display: flex;
	justify-content: space-between;
	padding: 0.0625em 0.3125em 0.0625em 0.3125em;
}

.space-between p {
	margin: 0;
}

.flip-message {
	display: none;
}

@media (max-width: 1200px), (max-height: 765px) {
	:root {
		--main-font-size: 12px;
	}
}

@media (max-width: 880px), (max-height: 585px) {
	:root {
		--main-font-size: 10px;
	}
}

@media (max-width: 750px), (max-height: 500px) {
	:root {
		--main-font-size: min(1.4vw, 2vh);
	}

	.app-container {
		height: 90vh;
		justify-content: space-around;
		flex-direction: column;
	}

	.flip-message {
		font-size: 30px;
		color: white;
		gap: 20px;
		display: flex;
		align-items: center;
	}
}
