@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  box-sizing: border-box;
}

body{
  color: rgb(150,150,150);
  background-color: rgba(33, 33, 33, 1);
  font-family: 'Roboto', sans-serif;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top-section{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.top-section >div{
  width: 50%;
}

.bottom-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pads{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  height: 330px;
  height: auto;
  flex-wrap: wrap;
  background: var(--retro-shadow-0);
  padding: 2px;
  border: 2px solid var(--retro-border-1);
  border-radius: 10px;
}

.section-container:first-child{
  align-self: flex-end;
}

.section-container{
  background-color: var(--retro-main);
  padding: 10px;
  height: 500px;
}

.interval-container{
  width: 330px;
}

.rec-pad{
  background-color: rgb(244, 220, 0) !important;
}

.rec-pad-inactive{
  background-color: rgb(17, 80, 40) !important;
}

.control-pad-inactive{
  background-color: rgb(33,33,33) !important;
  border: 1px solid rgb(100,100,100) !important;
}

.control-pad-active{
  background-color: rgb(33,33,33) !important;
  border: 1px solid rgb(244, 220, 0) !important;
}



/* Mode Control */
#control-container{
  position: relative;
}

.mode-control{
  display:flex;
  list-style: none;
  width: 330px;
  padding:5px;
  justify-content: space-between;
}

.mode-control li{
  text-align: center;
  flex: 0 0 100px;
  border: 1px solid rgb(100,100,100);
  margin-right: 10px;
  cursor: pointer;
}

.mode-control li:hover{
  background-color: rgb(66,66,66);
}

.color-active{
  background-color: rgb(44,44,44);
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(66,66,66); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.space-between{
  display:flex;
  justify-content: space-between;
  padding: 1px 5px 1px 5px;
}

.space-between p{
  margin: 0px;
}

#interval-list{
  margin:5px;
  font-size: 16px;
  padding: 0;
  list-style:none;
}

input{
  border-radius: 0;
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: 16px;
  text-align: right;
  height: 20px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:focus{
  outline:none;
  border: 1px solid rgb(244, 220, 0);
}




